body {
  margin: 0;
  padding: 0;
  /* Makes the scrollbar always visible, avoiding ugly width-jumps */
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
  color:#333;
  -font-family: 'Fira Sans', sans-serif;
  -font-family: 'Slabo 27px', serif;
  background-color: #fffdff; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #fffdff, #fdffff); /* Standard syntax (must be last) */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Slabo 27px', serif;
}

h1 {
  font-size: 370%;
}

/* De tre #banner gør ændrer Materialize JavaScript Media Slideren til et banner */
#banner .indicator-item {
  display: none;
}
#banner {
  height: 1000px !important;
}
#banner .slides {
  height: 1000px !important;
}

@media screen and (max-width: 992px){
  #banner {
    height: 800px !important;
  }
  #banner .slides {
    height: 800px !important;
  }
}

/* Skjul mellem large og medium */
@media screen and (max-width: 1300px){
  .interHide {
    display: none;
  }
}

/* Farve når man markerer tekst */
::selection {
  background: #607d8b ; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #607d8b ; /* Gecko Browsers */
}

/* Note til prislisten */
.note {
  font-style: italic;
  font-size: 80%;
}

/* Copyright styling */
.footer-copyright a {
  color: red;
}

.footer-copyright a:hover {
  color: #cc0000;
}

/* height of parallax container */
.parallax-container {
  height: 600px;
}

/* Logo and text in navbar vertical align */
.logo {
  display: inline-block;
  height: 22%;
}

.logo>img {
  vertical-align: middle;
}

/* a bit more space */
.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* text outline #333 50% */
.standout {
  text-shadow: -1px -1px 0 rgba(48,48,48,0.1), 1px -1px 0 rgba(48,48,48,0.1), -1px 1px 0 rgba(48,48,48,0.1), 1px 1px 0 rgba(48,48,48,0.1);
}

/* removes dotted outline in FF on link-tags such as the navbar items */
a, a:active, a:focus {
  outline: none;
}

.flow-text {
  font-size: 140%;
}

/* 2-3 below are an unfinished fix for logo after navbar-fixed - https://stackoverflow.com/questions/51412303/materializecss-navbar-logo-image-position */

#nav {
  position: relative;
  left: 64px;
}

.brand-logo>img {
  -position: absolute;
  top: 50%;
  left: -54px;
  transform: translateY(-50%);
}

.brand-logo {
  -position: absolute;
  height: 80%;
}

/* just toning it down a little */
.flow-text {
  font-size: 125%;
}

.diamond {
  font-size: 150%;
  color: rgb(55, 71, 79) !important;
}

.carousel .carousel-item {
  width:260px !important;
}
/* 
** suddenly the backdrop was over the nav-bar 
** more thorough solution [might] DID hide here: https://github.com/Dogfalo/materialize/issues/3844
** may have destroyed the logo
.sidenav-overlay{
  -z-index: 2 !important;
}
** got it fixed, keeping as a reminder
*/
